body{
background-color: rebeccapurple;
}
h2{
font-size: 40px;
display: flex;
align-items: center;
justify-content: center;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ul li{
text-decoration: none;
list-style: none;
margin-bottom:20px ;
}
.ul li a{
text-decoration-line:none;
color: white;
font-size: xx-large;
background-color: rgb(11, 85, 196);
border-radius: 10px;
padding: 10px 20px ;
display: flex;
align-items: center;
justify-content: center;
}
