
body {
    background-color: rebeccapurple;

}

.container {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

h2{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    width: 400px; 
    border-radius: 10px; 
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

ul {
    list-style-type: none; 
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.btn {
    position: relative;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px 0;
    display: inline-block;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #0d709e;
    color: #fff;
}

.btn-success:hover {
    background-color: #248cbd;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-secondary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
}
.vv{
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 20px;

}
textarea{
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

/* Alert Styles */
.alert {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Comment Styles */
.card {
    margin-bottom: 20px;
}

.card-body {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1em;
}

.text-muted {
    font-size: 0.9em;
    color: #6c757d;
}
