{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <link rel="stylesheet" href="../../static/auctions/login.css">
<div class="con-form">
        <form class="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn " type="submit" value="Login">
        
    </form>
    
</div>

<div class="ss">
    Don't have an account? <a href="{% url 'register' %}">''Register here''</a>

</div>

{% endblock %}

